.GridNavigation {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.GridNavigation h3 {
  font-size: 14px;
  color: #eee;
  font-weight: 400;
  margin: 0;
  margin-bottom: 5px;
  text-align: center
}

.GridNavigation .location {
  max-width: 98px;
  display: block;
  width: 100%;
  font-size: 12px;
  text-align: right;
  color: #eee;
  opacity: .6;
  font-weight: 200;
}


.GridNavigation .wrapper {
  width: 100px;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
}

.GridNavigation .wrapper > div {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22272B;
  border: 1px solid #30373E;
  cursor: pointer;
}

.GridNavigation .wrapper > div:hover {
  background-color: #EB935B;
}


.GridNavigation .wrapper > div i {
  color: white;
}