.GridNavigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
}

.GridNavigation > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.GridNavigation > div span {
  background-color: #eee;
  padding: 5px;
  cursor: pointer;
}

.left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}